[Desktop Entry]
Type=Application
Name=NetBird Tray
GenericName=NetBird
Comment=NetBird status and settings in the system tray
Exec=/usr/local/lib/netbird-tray/netbird-tray
Icon=netbird-tray
Terminal=false
Categories=Network;
Keywords=netbird;vpn;wireguard;mesh;network;
